@media only screen and (min-width: 320px) {
    /* for mobile */
    .footer-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 32px;
        gap: 16px;
    }

    .footer-container p {
        order: 3;
    }

    .footer-container > p {
        text-align: center;
    }

    .socials-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .socials-container h4 {
        margin: 0;
    }

    .footer-container p {
        font-size: 16px;
    }

}

@media only screen and (min-width: 768px) {
    /* for tablet */
    .footer-container {
        height: 100%;
        flex-direction: column;
        padding: 0;
    }

    .socials-container {
        width: auto;
    }

    .socials-container a {
        padding: 8px;
    }
}

@media only screen and (min-width: 1200px) {
    /* for desktop */
    .footer-container {
        height: 64px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;
        margin: 0;
    }

    .socials-container {
        display: flex;
        flex-direction: row;
        order: 3;
    }
}